


.border {border: solid black thin;}
.centre {text-align: center;}
.left{text-align: left;}
.right {text-align: right;}

.m-left{margin-left: auto;}
.m-right{margin-right: auto;}

.justify-centre {justify-content: center;}



.full{width: 100%;}
.vfull{height: 100%}

.vertical-centre {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.vertical-end {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  



.left1{margin-left: 1%;}
.left2{margin-left: 2%;}

.right1{margin-right: 1%;}
.right2{margin-right: 2%;}

.top1 {margin-top: 1%;}
.top2 {margin-top: 2%;}


.margin-v-auto {margin-top: auto;margin-bottom: auto;}

a,a:visited,a:hover,a:active {color:black; text-decoration: none;}

.active {color: goldenrod!important;}

.lightblack{color: rgba(0,0,0,0.7);}
.black{color: rgba(0,0,0,1);}

#menuContainer {border-bottom:solid goldenrod medium;}

/* #search-container {
    background-color: goldenrod;

} */

#search-container i {
    color: white;     
    padding: 30%;   
    background-color: goldenrod;
    border-radius: 50%;
    cursor: pointer;
}


main .container {padding: 3%;}

#img-main {max-height: 400px;}

#about-container {
  background-image: url(/images/image2.png);
  background-position: 250px;
  background-size: 90%;
  background-repeat: no-repeat;
}

#about-text-container{
  background-color: rgb(255, 255, 255,0.4);
}


#services-container {
  background-color: rgb(236, 243, 240);
}

.product-container {
          background-size:cover;

          background-repeat: no-repeat;
          }

h1 {
  font-size:large!important;
  
  }

h2{  
    color: goldenrod;
    font-size:medium!important;

}

h3{
  font-size:small!important;
}

p{text-align: justify;}

.icon {max-height: 80px;}

.membrane {                        
           background-color: rgb(255, 255, 255,0.8);
           
          }

.product-container {
  padding: 0px;
  position: relative;
    min-height: 200px;
}

.product-container p {
  padding: 2%;
}    

.small-icon {
  max-height: 80px;
  opacity: 0.4;
}


form input, form textarea {
  width: 100%;
  border: none;
  border-bottom: solid rgba(0,0,0,0.1) 2px;
}


#contact-form textarea {resize: none;}




#input-submit,button {
  background-color: white;
  border: solid goldenrod 2px;
}

iframe {width: 100%; height: 200px;}

#small-logo {max-height: 60px;}

#inputMailingList {
  border: none;
}

#up {
    color: goldenrod;
    font-size: 2.5em;
  }

footer {
  border-top: solid rgba(0,0,0,0.1) thin;
  color: rgba(0,0,0,0.4);
  padding: 2%;
}



body {scroll-behavior: smooth;}



#mobileMenuButton {
                  border: none;
                  font-size: larger;
                  }


#mobileMenuLinksContainer{
  position: absolute;
  z-index: 1;
  top: 0;
  display: none;
  opacity: 0;
  background-color: rgb(255, 255, 255,0.95);
  height: 100vh;  
  width: 50%;
  transform: translateX(-20px);
  padding-left: 1%;
  padding-right: 1%;

  transition: opacity 0.2s, transform 0.2s ;
}                  

.mobileMenu {
  background-color: rgb(218, 165, 32,0.2);
  padding-top: 1%;
  padding-bottom: 1%;
  
}

#search-container2 i{
  background-color: goldenrod;
  color: white;
  padding: 30%;   
  border-radius: 50%;
  cursor: pointer;
}


.admin-button {
  border: none;
  background-color: rgb(0, 0, 255,0.1);
  color: blue;
}

.cancel {
  border: none;
  background-color: rgb(0, 128, 0,0.1);
  color: green;
}

.delete {
  border: none;
  background-color: rgb(255, 0, 0,0.1);
  color: red;
}

select{width: 20%;}

.preview-image {height: 100px;}

